.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 20px;
}

.breadcrumb-item {
  color: $dark;
  font-size: 10px;
  text-decoration: none;

  + .breadcrumb-item {
    padding-left: 10px;

    &::before {
      display: inline-block; // Suppress underlining of the separator in modern browsers
      content: '→';
      margin-right: 10px;
    }
  }
}

a.breadcrumb-item {
  color: $gray-d1;
  &:hover {
    text-decoration: underline;
  }
}

@include media-breakpoint-up(sm) {
  .breadcrumb {
    margin-bottom: 30px;
  }
}

@include media-breakpoint-up(lg) {
  .breadcrumb {
    padding-left: 110px;
  }
}