.swiper-pagination-bullet {
    color: $blue;

    &:only-child {
        opacity: 0;
        pointer-events: none;
    }
    .svg {
        position: relative;
        left: -6px;
        top: -6px;
        opacity: 0;
        transform: rotate(-90deg);
    }

    &-active {
        background-color: transparent;
        opacity: 1;

        .svg {
            opacity: 1;
        }
        .svg__circle-anim {
            animation: circleDraw 8.2s linear forwards;
        }
    }

    .no-anim &,
    .ie & {
        &-active {
            .svg__circle-anim {
                animation: none;
                stroke-dashoffset: 0 !important;
            }
        }
    }
}

.swiper-pagination {
    &--white {

        .swiper-pagination-bullet {
            color: $white;
            background-color: $white;
            &-active {
                background-color: transparent;
            }
        }
    }
}

.swiper-button-prev--short,
.swiper-button-next--short {
    width: 18px !important;
    overflow: hidden;
    transition: width .2s;

    &:hover {
        width: 53px !important;
        color: $blue;
    }
}
.swiper-button-next--short {
    left: 100%;
    right: auto;
    transform: translate3d(-53px, 0, 0);

    svg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }
}
.swiper-button-prev--short {
    left: auto;
    right: 100%;
    transform: translate3d(53px, 0, 0) rotate(-180deg) !important;

    svg {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
    }
}

@keyframes circleDraw {
    to {
        stroke-dashoffset: 0;
    }
}