.header {
  padding: 10px 0;

  &-static {
    margin-bottom: 30px;
  }

  &--abs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
  }

  &--bg-gray {
    .phones__link {
      color: $dark;

      .is-nav-open & {
        color: $white;
      }

      &-tx {
        color: $blue;
        border-bottom: 1px dotted $blue;

        .is-nav-open & {
          color: $white;
          border-bottom: 1px dotted $white;
        }
      }
    }
  }

  &-row {
    display: flex;
    align-items: center;
  }
  &-col {
    &--last {
      margin-left: auto;
    }
  }

  .link-logo,
  .phones {
    position: relative;
    z-index: 30;
  }
  .phones {
    padding-left: 20px;
    line-height: 1.4;
    &-ico {
      display: none;
    }
  }

  .mfp-open & {
    filter: blur(4px);
  }
}

.header-nav {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $dark;
  padding: 0 0 0 70px;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-in-out;

  &.is-open {
    transform: translate3d(0, 0, 0);
  }

  .list-social {
    position: absolute;
    z-index: 10;
    left: 60px;
    bottom: 35px;
    margin: 0;
  }
}

@include media-breakpoint-up(sm) {
  .header {
    padding: 30px 0 0 0;

    &-row {
      justify-content: space-between;
    }

    &-col {
      &--scnd {
        padding-left: 130px;
      }
      &--last {
        margin-left: 0;
      }
    }

    .phones {
      padding-left: 55px;
      &__link {
        line-height: 1;
      }
      &-ico {
        display: block;
      }
    }
  }

  .header-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 90px 0 0 190px;

    .list-social {
      position: relative;
      left: -5px;
      bottom: 0;
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    &-col {
      &--scnd {
        padding-left: 0;
      }
    }
  }
  .header-nav {
    display: block;
    position: relative;
    background-color: transparent;
    padding: 0;
    transform: translate3d(0, 0, 0);

    .list-social {
      display: none;
    }
  }
}
