@import "header";
@import "nav";
@import "footer";
@import "socials";
@import "phones";
@import "ctx-card";
@import "intro-about";
@import "intro-slider";
@import "service-list";

.wrapper{
    overflow: hidden;
}

body {
    &.is-nav-open {
        overflow: hidden;
    }
}

@include media-breakpoint-up(md) {
    body {
        &.is-nav-open {
            overflow: auto;
        }
    }
}