.intro-slider {
    position: relative;
    height: 100vh;
    min-height: 568px;

    &__title {
        position: absolute;
        top: 75px;
        left: 0;
        right: 0;
        z-index: 10;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        text-align: center;
        color: $dark;
        font-weight: 700;
    }

    &-fraction {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

.intro-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 110px 20px 0 20px;

    &-inner {
        max-width: 1280px;
        margin: 0 auto;
    }

    &__title {
        font-weight: 500;
        font-size: 20px;
        color: $white;
        text-align: center;
        line-height: 1.4;
    }

    .ia-card {
        display: none;
    }
}

@include media-breakpoint-up(sm) {
    .intro-slider {
        height: 768px;
        &__title {
            max-width: 1280px;
            margin: 0 auto;
            top: 200px;
            left: 100px;
            text-align: left;
            font-size: 22px;
        }

        &-fraction {
            position: absolute;
            z-index: 10;
            top: 270px;
            left: 0;
            right: 0;
            display: block;

            &-row {
                display: flex;
                align-items: center;
                padding: 0 20px;
            }
        }

        .it-fraction__num {
            width: 18px;
            font-size: 12px;
            color: $white;
            font-weight: 700;
            letter-spacing: .5px;

            &.sp-total {
                position: relative;
                padding-left: 25px;
                color: rgba($white, .5);
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    display: block;
                    top: 50%;
                    left: 5px;
                    width: 10px;
                    height: 1px;
                    background-color: $white;
                }
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: block;
        }
    }
    .intro-slide {
        padding: 260px 20px 0 100px;
        &__title {
            max-width: 420px;
            margin-bottom: 50px;
            font-size: 36px;
            text-align: left;
        }
        .ia-card {
            position: relative;
            z-index: 1;
            left: -40px;
            display: block;
            width: 320px;
            &__num {
                font-size: 72px;
            }
            &__text {
                padding-left: 20px;
                font-size: 15px;
                text-transform: none;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .intro-slider {
        &__title {
            left: 0;
            padding-left: 110px;
        }

        &-fraction {
            &-row {
                max-width: 1320px;
                margin: 0 auto;
                padding-left: 25px;
            }
        }
        .it-fraction__num {
            &.sp-total {
                padding-left: 35px;
                &:before {
                    width: 20px;
                }
            }
        }
    }

    .intro-slide {
        &-inner {
            padding-left: 70px;
        }
    }
}