<div class="swiper-container news-slider js-news-slider px-0 " data-perview="1" data-autoplay="true">
    <div class="swiper-wrapper">
        <div class="swiper-slide news-card pb-0">
            <div class="news-card__img news-card__img--lg" style="background-image: url('images/temp/news-temp.png')"></div>
        </div>
      <div class="swiper-slide news-card pb-0">
        <div class="news-card__img news-card__img--lg" style="background-image: url('images/temp/news.png')"></div>
      </div>
      <div class="swiper-slide news-card pb-0">
        <div class="news-card__img news-card__img--lg" style="background-image: url('https://via.placeholder.com/1064x638?text=1064x638')"></div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>