<footer class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="footer-row">
                <div class="footer-col footer-col--frst">
                    <a class="link-logo" href="#">
                        <img alt="" class="link-logo__img" src="images/content/logo.png"></a>
                </div>
                <div class="footer-col footer-col--scnd">
                    <div class="footer-nav">
                        <div class="footer-nav-r footer-nav-r1">
                            <a class="footer-nav__link" href="#">Модельный ряд</a>
                        </div>
                        <div class="footer-nav-r footer-nav-r2">
                            <a class="footer-nav__link" href="#">Услуги</a>
                        </div>
                        <div class="footer-nav-r footer-nav-r3">
                            <a class="footer-nav__link" href="#">Компания</a>
                        </div>
                        <div class="footer-nav-r footer-nav-r4">
                            <a class="footer-nav__link" href="#">Новости</a>
                        </div>
                        <div class="footer-nav-r footer-nav-r5">
                            <a class="footer-nav__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer-col footer-col--thrd">
                    <div class="footer-addrs">
                        <p>429430, Чувашская Республика</p>
                        <p class="ftr-sm-large">г. Козловка,
                            <span class="ftr-sm-block">ул. Карла-Маркса, д. 1</span>
                        </p>
                        <p>
                            <a class="footer-addrs__link op7" href="mailto:komtehservice@mail.ru">komtehservice@mail.ru</a>
                        </p>
                    </div>
                </div>
                <div class="footer-col footer-col--frth">
                    <div class="phones">
                        <div class="phones-ico"></div>
                        <p>
                            <a class="phones__link" href="tel:8 800 250-83-03">8 800 250-83-03</a>
                        </p>
                        <p>
                            <a class="phones__link" href="tel:+7 (83534) 2-12-51">+7 (83534) 2-12-51</a>
                        </p>
                        <p>
                            <a class="phones__link-tx op7" href="#">Заказать звонок</a>
                        </p>
                    </div>
                </div>
                <div class="footer-col footer-col--last">
                    <ul class="list-social">
                        <li>
                            <a class="link-social link-social--fb" href="#">
                                {% include "tpl/inc/svg/fb.svg" %}
                            </a>
                        </li>
                        <li>
                            <a class="link-social link-social--vk" href="#">
                                {% include "tpl/inc/svg/vk.svg" %}
                            </a>
                        </li>
                        <li>
                            <a class="link-social link-social--in" href="#">
                                {% include "tpl/inc/svg/instagram.svg" %}
                            </a>
                        </li>
                        <li>
                            <a class="link-social link-social--tw" href="#">
                                {% include "tpl/inc/svg/twitter.svg" %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-row footer-row--sub">
                <p class="footer-tx footer-tx--md-mr">© ООО «Комтехсервис», 2019</p>
                <a class="footer-tx" href="#">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>