<nav class="nav">
  <div class="nav-list">
    <a class="nav__link" href="">Модельный ряд</a>
    <a class="nav__link" href="">Услуги</a>
    <a class="nav__link" href="">компания</a>
    <a class="nav__link" href="">новости</a>
    <a class="nav__link" href="">контакты</a>
  </div>
</nav>