{% set headerClass = 'header--bg-gray header-static' %}
{% set bredcreambItem = 'Компания' %}

{% extends 'tpl/inc/page.twig' %}

{% block content %}

    <div class="content content-company">
        <div class="bg-white py-1 pt-sm-2">
            <div class="container">
                {% include "tpl/inc/components/breadcrumbs.twig" %}

                <h1 class="h1 mb-md-6">Компания</h1>
            </div>
        </div>

        <div class="bg-white pb-1 pb-sm-2 pb-md-28 pb-lg-32">
            <div class="container">
                <div class="content-company-inner">
                    <div class="cmp-intro">
                        <div class="cmp-intro-txt-lg">
                            Завод «КТС» современное, динамично развивающееся предприятие, мы производим и поставляем более 60 видов спецтехники по всей России.
                        </div>
                        <div class="ia-card">
                            <div class="ia-card-top">
                                <div class="ia-card__num">
                                    &gt;4000<span class="sm">м<sup>2</sup>
                                    </span>
                                </div>
                            </div>
                            <div class="ia-card-body">
                                <div class="ia-card__text">
                                    материально-техническая база производства
                                </div>
                            </div>
                        </div>
                        <div class="cmp-intro-txt-sm">
                            Поставка осуществляется как по прямым, так и по тендерным процедурам для нужд предприятий военно-промышленного и нефтегазового комплексов, геофизических, геологоразведочных работ и буровзрывных работ, для строительства и ремонта магистральных нефте-, газо- продуктопроводов.
                        </div>
                    </div>

                    <h4 class="h4">Структура предприятия</h4>

                    <ul class="cmp-list-db-ft">
                        <li>
                            <div class="cmp-card">
                                <div class="cmp-card__icon">
                                    {% include "tpl/inc/svg/cmp-1.svg" %}
                                </div>
                                <div class="cmp-card__txt">Отдел материально-технического снабжения</div>
                            </div>
                        </li>
                        <li>
                            <div class="cmp-card">
                                <div class="cmp-card__icon">
                                    {% include "tpl/inc/svg/cmp-2.svg" %}
                                </div>
                                <div class="cmp-card__txt">Отдел логистики</div>
                            </div>
                        </li>
                        <li>
                            <div class="cmp-card">
                                <div class="cmp-card__icon">
                                    {% include "tpl/inc/svg/cmp-3.svg" %}
                                </div>
                                <div class="cmp-card__txt">Оформительный отдел</div>
                            </div>
                        </li>
                        <li>
                            <div class="cmp-card">
                                <div class="cmp-card__icon">
                                    {% include "tpl/inc/svg/cmp-4.svg" %}
                                </div>
                                <div class="cmp-card__txt">Конструкторский отдел</div>
                            </div>
                        </li>
                    </ul>

                    <h4 class="h4">Производство</h4>

                    <div class="cmp-double-txt">
                        <div class="cmp-double-txt__left">
                            В производственном цикле задействуются заготовительный, сварочный участки, участок окраски, и сборочный участок. Каждый этап производства заканчивается проверкой отделом технического контроля.
                        </div>
                        <div class="cmp-double-txt__right">
                            Мы постоянно модернизируем и технологически совершенствуем производственные процессы, чтобы удовлетворять запросам современной автомобильной промышленности.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="bg-gray">
            <div class="container cmp-container-offset px-0 px-md-2 px-lg-9">
                <div class="mb-5 mb-sm-9 px-lg-4">
                    {% include "tpl/inc/pages/company/slider.twig" %}
                </div>
            </div>
        </div>

        <div class="bg-white pb-1">
            <div class="container">
                <h2 class="h2 cmp-title-offset">Наши клиенты</h2>

                <ul class="cmp-clients-list">
                    <li><img src="images/content/logo-clients/02.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/01.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/03.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/04.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/05.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/06.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/07.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/08.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/09.png" class="cmp-clients__pic" alt="" /></li>
                    <li><img src="images/content/logo-clients/10.png" class="cmp-clients__pic" alt="" /></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
