<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport" />
        <meta content="ie=edge" http-equiv="X-UA-Compatible" />
        <title>KTC</title>
        <link href="css/style.css?{{ date().getTime() }}" rel="stylesheet" />
    </head>
    <body>
        {% set pages = [ 
            { link: 'main', name: 'Главная' },
            { link: 'company', name: 'Компания' },
            { link: 'service', name: 'Услуги' },
            { link: 'models', name: 'Модельный ряд' },
            { link: 'models-category', name: 'Модельный ряд (категория)' },
            { link: 'model-page', name: 'Модельный ряд (детальная страница)' },
            { link: 'news', name: 'Новости' },
            { link: 'news-item', name: 'Новость' },
            { link: 'contact', name: 'Контакты' },
            { link: 'policies', name: 'Пользовательское соглашение' },
            { link: '404', name: '404' },
        ] %}

        <div class="wrapper">
            <div class="container">
                <h1>KTC pages</h1>

                <ul>
                    {% for page in pages %}
                        <li>
                            <a href="{{ page.link }}.html" class="page-link">{{ page.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>