{% set headerClass = 'header--abs' %}

{% extends 'tpl/inc/page.twig' %}

{% block content %}

<div class="content">

    {% include "tpl/inc/blocks/intro-slider.twig" %}

    <div class="container pb-5">
        <h2 class="title-bg">Каталог</h2>
        {% include "tpl/inc/components/catalog.twig" %}
    </div>

    <div class="bg-white py-3">
        <div class="container">
            {% include "tpl/inc/pages/main/intro-about.twig" %}
        </div>
    </div>

    <div class="pt-3 pt-sm-5 pt-md-8">
        <div class="container">
            <h2 class="h2">Новости</h2>
        </div>
        {% include "tpl/inc/components/news-slider.twig" %}
    </div>
</div>

{% endblock %}