{% set headerClass = 'header--bg-gray header-static' %}

{% extends 'tpl/inc/page.twig' %}

{% block content %}

    <div class="content">
        <div class="bg-white py-1 pt-sm-2">
            <div class="container">
                <div class="breadcrumb mb-1 pl-lg-0">
                    <a class="breadcrumb-item" href="#">Главная</a>
                    <a class="breadcrumb-item" href="#">Модельный ряд</a>
                    <span class="breadcrumb-item">Вахтовые автобусы</span>
                </div>

            </div>
        </div>

        <div class="bg-white">
            <div class="container">
                {% include "tpl/inc/pages/model-item/mlp-intro.twig" %}               
            </div>
        </div>

        {% include "tpl/inc/pages/model-item/tabs.twig" %}

        <div class="bg-white">
            <div class="container">
                {% include "tpl/inc/pages/model-item/mlp-frame.twig" %}
            </div>
        </div>

        {% include "tpl/inc/blocks/feedback.twig" %}
    </div>

{% endblock %}