{% set headerClass = 'header--bg-gray header-static' %}

{% extends 'tpl/inc/page.twig' %}

{% block content %}

    <div class="content">
        <div class="bg-white py-1 pt-sm-2">
            <div class="container">
                <div class="breadcrumb mb-1 pl-lg-0">
                    <a class="breadcrumb-item" href="#">Главная</a>
                    <a class="breadcrumb-item" href="#">Модельный ряд</a>
                    <span class="breadcrumb-item">Вахтовые автобусы</span>
                </div>

            </div>
        </div>
        <div class="bg-white">
            <div class="container">
                <div class="mlp-intro">
                    <h1 class="h1 mlp-intro__title">Агрегат ремонта и&nbsp;обслуживания станков-качалок АРОК</h1>
                    <img src="images/temp/model.png" class="mlp-intro__pic" alt="">

                    <div class="mlp-intro-body">
                        <p class="mlp-intro-body__title">Шасси КАМАЗ 43118/5350/43502</p>
                        <div class="mlp-intro__descr">
                            <p>
                                Предназначен для ремонта и профилактического обслуживания оборудования нефтяных скважин, станков-качалок, а также наземного оборудования нефтепромыслов и с возможностью доставки аварийной бригады при условиях трудной проходимости Крайнего Севера.
                            </p>
                        </div>
                        <div class="btn-group btn-group-vertical">
                            <a href="#" class="btn btn-blue">Запросить стоимость</a>
                            <a href="#" class="btn btn-blue-outline">Запросить тех. описание</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "tpl/inc/blocks/feedback.twig" %}
    </div>

{% endblock %}