<div class="swiper-container news-slider js-news-slider">
  <div class="swiper-wrapper">
    <a class="swiper-slide news-card" href="#">
      <div class="news-card__img" style="background-image: url('images/temp/news.png')"></div>
      <div class="news-card-body">
        <div class="news-card__title">
          Аварийно спасательный автомобиль АСА
        </div>
      </div>
      <div class="news-card-bottom">
        <div class="news-card__date">28 января 2019</div>
        <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
      </div>
    </a>
    <a class="swiper-slide news-card news-card--no-img" href="#">
      <div class="news-card-body">
        <div class="news-card__title">
          Передвижные мастерские с КМУ (АРОК)
        </div>
        <div class="news-card__descr">
          Изготовили партию передвижных мастерских с КМУ АРОК на шасси КАМАЗ 43118-50
        </div>
      </div>
      <div class="news-card-bottom">
        <div class="news-card__date">15 февраля 2019</div>
        <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
      </div>
    </a>
    <a class="swiper-slide news-card news-card--no-img" href="#">
      <div class="news-card-body">
        <div class="news-card__title">
          Передвижной медицинский комплекс «Фельдшерско-акушерский пункт»
        </div>
        <div class="news-card__descr">
          Очередная комплексная поставка медицинских комплексов
        </div>
      </div>
      <div class="news-card-bottom">
        <div class="news-card__date">21 марта 2019</div>
        <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
      </div>
    </a>
    <a class="swiper-slide news-card" href="#">
      <div class="news-card__img" style="background-image: url('images/temp/news.png')"></div>
      <div class="news-card-body">
        <div class="news-card__title">
          Аварийно спасательный автомобиль АСА
        </div>
      </div>
      <div class="news-card-bottom">
        <div class="news-card__date">28 января 2019</div>
        <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
      </div>
    </a>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>