<div class="pagination">
    <div class="pagination-left">
        <a class="pagination-arrow-link pagination-arrow-link--prev" href="#">
            {% include "tpl/inc/svg/arrow-r.svg" %}
        </a>
    </div>
    <div class="pagination-center">
        <ul class="pagination-list">
            <li>
                <a class="pagination__link" href="#">1</a>
            </li>
            <li>
                <span class="pagination__link is-active">2</span>
            </li>
            <li>
                <a class="pagination__link" href="#">3</a>
            </li>
            <li>
                <a class="pagination__link" href="#">4</a>
            </li>
            <li>
                <span class="pagination__link">...</span>
            </li>
        </ul>
    </div>
    <div class="pagination-right">
        <a class="pagination-arrow-link pagination-arrow-link--next" href="#">
            {% include "tpl/inc/svg/arrow-r.svg" %}
        </a>
    </div>
</div>