<div class="swiper-container intro-slider js-intro-slider">
    <div class="intro-slider__title">Комтехсервис</div>
  <div class="swiper-wrapper">
    <div class="swiper-slide intro-slide" >
      <div class="intro-slide__pic" style="background-image: url('images/temp/m-slide1.jpg')"></div>
      <div class="intro-slide-inner">
        <div class="intro-slide__title">
          Проектирование и&nbsp;производство широкого ряда&nbsp;спецтехники
        </div>
        <div class="ia-card">
          <div class="ia-card-top">
            <div class="ia-card__num">
              ><span class="spincrement" data-from="0" data-to="4000">4000</span>
              <span class="sm">м<sup>2</sup></span>
            </div>
          </div>
          <div class="ia-card-body">
            <div class="ia-card__text">
              материально-техническая база производства
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide intro-slide">
      <div class="intro-slide__pic" style="background-image: url('images/temp/m-slide2.jpg')"></div>
        <div class="intro-slide-inner">
          <div class="intro-slide__title">
            Проектирование и&nbsp;производство широкого ряда&nbsp;спецтехники 2
          </div>
          <div class="ia-card">
            <div class="ia-card-top">
              <div class="ia-card__num">
                ><span class="spincrement" data-from="0" data-to="5000">5000</span>
                <span class="sm">м<sup>2</sup></span>
              </div>
            </div>
            <div class="ia-card-body">
              <div class="ia-card__text">
                материально-техническая база производства
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="intro-slider-fraction">
        <div class="intro-slider-fraction-row">
            <span class="it-fraction__num js-fr-current"></span><span class="it-fraction__num sp-total js-fr-total"></span>
        </div>
  </div>
  <div class="intro-slider-controls">
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination--white"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next">
        {% include "tpl/inc/svg/arrow-r.svg" %}
    </div>
    <div class="swiper-button-prev">
       {% include "tpl/inc/svg/arrow-r.svg" %}
    </div>
  </div>
</div>