<!-- form itself -->
<form class="feedback-form form-modal mfp-hide bg-white" id="modal-call-form">
    <h2 class="h2 mb-1">Заказать звонок</h2>
    <p class="mb-3">Заполните форму и мы свяжемся с вами</p>
    <div class="feedback-form-row">
        <div class="feedback-form-col w-100">
            <input class="feedback-form__input" id="" name="" type="text" required>
            <span class="floating-label">Ваше имя</span>
        </div>
        <div class="feedback-form-col w-100">
            <input class="feedback-form__input" id="" name="" type="text" required>
            <span class="floating-label">Телефон</span>
        </div>
        <div class="feedback-form-col w-100">
            <input class="feedback-form__input" id="" name="" type="text" required>
            <span class="floating-label">E-mail</span>
        </div>
    </div>

    <div class="feedback-form-row mb-4 mb-sm-2">
        <div class="feedback-form-col">
            <div class="custom-control custom-checkbox">
                <input class="custom-control-input" id="customControlAutosizing" type="checkbox">
                <label class="custom-control-label" for="customControlAutosizing">Принимаю политику конфиденциальности</label>
            </div>
        </div>
    </div>
    <div class="feedback-form-row">
        <div class="feedbakc-form-col">
            <button class="btn btn-blue">Отправить заявку</button>
        </div>
    </div>
</form>