<div class="service-list">
    <a class="news-card" href="#">
        <div class="news-card__img" style="background-image: url('https://via.placeholder.com/630x290?text=630x290')"></div>
        <div class="news-card-body">
            <div class="news-card__title mb-0">
                Лизинг и кредит
            </div>
        </div>
        <div class="news-card-bottom">
            <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
        </div>
    </a>
    <a class="news-card" href="#">
        <div class="news-card__img" style="background-image: url('https://via.placeholder.com/630x290?text=630x290')"></div>
        <div class="news-card-body">
            <div class="news-card__title mb-0">
                Trade-in
            </div>
        </div>
        <div class="news-card-bottom">
            <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
        </div>
    </a>
    <a class="news-card" href="#">
        <div class="news-card__img" style="background-image: url('https://via.placeholder.com/630x290?text=630x290')"></div>
        <div class="news-card-body">
            <div class="news-card__title mb-0">
                Доставка и ТО 1000 км
            </div>
        </div>
        <div class="news-card-bottom">
            <div class="news-card__arrow">{% include "tpl/inc/svg/arrow-r.svg" %}</div>
        </div>
    </a>
</div>