{% set cards = [
    {
        img: 'images/content/catalog/card1.png',
        title: 'Грузопассажирский автомобиль ГПА',
        descr: 'КАМАЗ 43118/5350/43502'
    },
    {
        img: 'images/content/catalog/card2.png',
        title: 'Агрегат ремонта и обслуживания станков-качалок АРОК',
        descr: 'КАМАЗ 43118/5350/43502'
    },
    {
        img: 'images/content/catalog/card3.png',
        title: 'Передвижная столовая',
        descr: 'ГАЗ 43118/5350/'
    },
    {
        img: 'images/content/catalog/card4.png',
        title: 'Фургон для перевозки опасных грузов',
        descr: 'КАМАЗ'
    },
    {
        img: 'images/content/catalog/card5.png',
        title: 'Грузопассажирский автомобиль ГПА',
        descr: 'КАМАЗ 43118/5350/43502'
    },
    {
        img: 'images/content/catalog/card6.png',
        title: 'Агрегат ремонта и обслуживания станков-качалок АРОК',
        descr: 'КАМАЗ 43118/5350/43502'
    },
    {
        img: 'images/content/catalog/card7.png',
        title: 'Передвижная столовая',
        descr: 'ГАЗ 43118/5350/'
    },
    {
        img: 'images/content/catalog/card8.png',
        title: 'Фургон для перевозки опасных грузов',
        descr: 'КАМАЗ'
    }
] %}

<div class="catalog-list mb-4">
        {% for item in cards %}
        <div class="catalog-card">
            <a href="#" class="catalog-card-link">
                <span class="catalog-card__img"  style="background-image: url('{{item.img}}')"></span>
                <span class="catalog-card__title catalog-card__title--lwrcase mb-1">{{ item.title }}</span>
                <span class="catalog-card__descr">{{ item.descr }}</span>
            </a>

        </div>
        {% endfor %}

</div>
