<div class="swiper-container gallery-slider js-gallery-slider" data-autoplay="true">
    <div class="swiper-wrapper">
        <div class="swiper-slide gallery-card pb-0">
            <div class="gallery-card__img" style="background-image: url('https://via.placeholder.com/840x560?text=840x560')"></div>
        </div>
      <div class="swiper-slide gallery-card pb-0">
        <div class="gallery-card__img" style="background-image: url('images/temp/bitmap-copy.png')"></div>
      </div>
      <div class="swiper-slide gallery-card pb-0">
        <div class="gallery-card__img" style="background-image: url('https://via.placeholder.com/840x560?text=840x560')"></div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next">
            {% include "tpl/inc/svg/arrow-r.svg" %}
        </div>
        <div class="swiper-button-prev">
           {% include "tpl/inc/svg/arrow-r.svg" %}
        </div>
  </div>