<div class="mlp-frame">
    <h3 class="h3 mlp-frame__title">Конструкция</h3>
    <div class="mlp-frame-top">
        <img alt="" class="mlp-frame__img" src="images/temp/model-frame.png">
    </div>
    <div class="mlp-frame-body">
        <div class="mlp-frame-left">
            <h4 class="h4 mlp-frame__h4">Основная комлпеткация:</h4>

            <p class="mlp-frame__p">
                <b>
                    для перевозки лиц, заключенных под стражу,
                    находящихся под стражей, задержанных (осужденных, подозреваемых, обвиняемых в совершении преступлений).
                </b>
            </p>
            <p class="mlp-frame__p">
                Срок изготовления:
                <b>до 35 дней</b>
            </p>
            <a class="btn btn-blue" href="#">Запросить стоимость</a>
        </div>
        <div class="mlp-frame-right">
            <ol class="mlp-frame__ol">
                <li>
                    <span>Люк аварийно-вентиляционный - 2 шт.</span>
                </li>
                <li>
                    <span>Окно открывающееся - 3 шт.</span>
                </li>
                <li>
                    <span>Генератор EG-202.7 - 1 шт.</span>
                </li>
                <li>
                    <span>Автономный генератор 5 кВт - 1 шт.</span>
                </li>
                <li>
                    <span>Катушки для сварочных кабелей - 2 шт.</span>
                </li>
                <li>
                    <span>Печь для прокалки электродов - 1 шт.</span>
                </li>
                <li>
                    <span>Отопитель Webasto - 1 шт.</span>
                </li>
                <li>
                    <span>Термопеналы - 2 шт.</span>
                </li>
                <li>
                    <span>Сварочный аппарат -  2 шт.</span>
                </li>
                <li>
                    <span>Щит распределительный - 1 шт.</span>
                </li>
                <li>
                    <span>Огнетушитель - 2 шт.</span>
                </li>
                <li>
                    <span>Стол складной - 2 шт.</span>
                </li>
                <li>
                    <span>Шкаф для одежды - 1 шт.</span>
                </li>
                <li>
                    <span>Диван-рундук - 2 шт.</span>
                </li>
                <li>
                    <span>Откидное спальное место - 2 шт.</span>
                </li>
                <li>
                    <span>Компрессор -  1 шт.</span>
                </li>
                <li>
                    <span>Переговорное устройство - 1 шт.</span>
                </li>
                <li>
                    <span>Прожектор на штативе - 2 шт.</span>
                </li>
                <li>
                    <span>Стол с полками - 1 шт.</span>
                </li>
                <li>
                    <span>ДЗК - 1 шт.</span>
                </li>
                <li>
                    <span>Грузовая площадка с тентом - 1 шт.</span>
                </li>
                <li>
                    <span>Пропановый баллон - 1 шт.</span>
                </li>
                <li>
                    <span>Кислородный баллон - 1 шт.</span>
                </li>
            </ol>
        </div>
    </div>
</div>