<div class="mlp-intro">
    <h1 class="h1 mlp-intro__title">Агрегат ремонта и&nbsp;обслуживания станков-качалок АРОК</h1>
    <img alt="" class="mlp-intro__pic" src="images/temp/model.png">

    <div class="mlp-intro-body">
        <p class="mlp-intro-body__title">Шасси КАМАЗ 43118/5350/43502</p>
        <div class="mlp-intro__descr">
            <p>
                Предназначен для ремонта и профилактического обслуживания оборудования нефтяных скважин, станков-качалок, а также наземного оборудования нефтепромыслов и с возможностью доставки аварийной бригады при условиях трудной проходимости Крайнего Севера.
            </p>
        </div>
        <div class="btn-group btn-group-vertical">
            <a class="btn btn-blue" href="#">Запросить стоимость</a>
            <a class="btn btn-blue-outline" href="#">Запросить тех. описание</a>
        </div>
    </div>
</div>