<div class="mlp-model-descr js-mlp-descr">
    <button class="mlp-model-descr__btn-close js-mlp-btn-close">
        {% include "tpl/inc/svg/i-exit.svg" %}
    </button>
    <div class="mlp-model-descr-inner">
        <div class="mlp-model-descr__title js-mlp-title"></div>
        <div class="mlp-model-descr__txt nano">
            <div class="nano-content js-mlp-content">
            </div>
        </div>
    </div>
    <div class="mlp-model-descr-cntrls">
        <button class="mlp-model__btn-left js-mlp-prev">
            {% include "tpl/inc/svg/arrow-r.svg" %}
        </button>
        <button class="mlp-model__btn-right js-mlp-next">
            {% include "tpl/inc/svg/arrow-r.svg" %}
        </button>
    </div>
</div>