<div class="bg-gray pt-2 pt-sm-6">
    <div class="container">
        <ul class="nav-tabs nav-tabs--lg" id="myTab" role="tablist">
            <li class="nav-tabs-item nav-tabs-item--lg">
                <a class="nav-tabs__link nav-tabs__link--lg active" data-toggle="tab" href="#tab1" role="tab">Особенности</a>
            </li>
            <li class="nav-tabs-item nav-tabs-item--lg">
                <a class="nav-tabs__link nav-tabs__link--lg" data-toggle="tab" href="#tab2" role="tab">Галерея</a>
            </li>
        </ul>
    </div>
</div>
<div class="bg-white mlp-bb-gray">
    <div class="container px-0">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                <div class="mlp-model">
                    <div class="mlp-pic-container">
                        <img src="images/temp/bitmap-copy.png" class="mlp-pic__img" alt="">
                        <div class="mlp-pic__point js-mlp-point" style="top: 55%; left: 14%;" data-ref="1">+</div>
                        <div class="mlp-pic__point js-mlp-point" style="top: 0; left: 35%;" data-ref="2">+</div>
                        <div class="mlp-pic__point js-mlp-point" style="top: 32%; left: 0;" data-ref="3">+</div>
                        <div class="mlp-pic__point js-mlp-point" style="top: 14%; left: 80%;" data-ref="4">+</div>
                    </div>
                    {% include "tpl/inc/pages/model-item/mlp-descr.twig" %}
                </div>
                <div class="d-none">
                    <div id="mlp-content-1">
                        <div class="mlp-model-descr__title">Кузов</div>
                        <div class="mlp-content">
                            <p>Кузов изготовлен по бескаркасной технологии с глухими скосами или без, по периметру обвязан алюминиевым уголком.</p>
                            <p>Наружная обшивка - плакированный металл или пластик.</p>
                            <p>
                                Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                Утеплитель - экструдированный пенополистирол. Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                Утеплитель - экструдированный пенополистирол.
                            </p>
                            <p>Кузов изготовлен по бескаркасной технологии с глухими скосами или без, по периметру обвязан алюминиевым уголком.</p>
                            <p>Наружная обшивка - плакированный металл или пластик.</p>
                            <p>
                                Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                Утеплитель - экструдированный пенополистирол. Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                Утеплитель - экструдированный пенополистирол.
                            </p>
                        </div>
                    </div>
                    <div id="mlp-content-2">
                            <div class="mlp-model-descr__title">Кузов 2</div>
                            <div class="mlp-content">
                                <p>
                                    Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол. Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол.
                                </p>
                                <p>Кузов изготовлен по бескаркасной технологии с глухими скосами или без, по периметру обвязан алюминиевым уголком.</p>
                                <p>Наружная обшивка - плакированный металл или пластик.</p>
                                <p>
                                    Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол. Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол.
                                </p>
                            </div>
                    </div>
                    <div id="mlp-content-3">
                            <div class="mlp-model-descr__title">Кузов 3</div>
                            <div class="mlp-content">
                                <p>
                                    Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол. Внутренняя обшивка - пластик светлых тонов, потолок белого цвеат.
                                    Утеплитель - экструдированный пенополистирол.
                                </p>
                            </div>
                    </div>
                    <div id="mlp-content-4">
                            <div class="mlp-model-descr__title">Кузов 4</div>
                            <div class="mlp-content">
                                <p>Кузов изготовлен по бескаркасной технологии с глухими скосами или без, по периметру обвязан алюминиевым уголком.</p>
                                <p>Наружная обшивка - плакированный металл или пластик.</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade py-3 py-sm-6 pt-md-9" id="tab2" role="tabpanel">
                {% include "tpl/inc/pages/model-item/gallery-slider.twig" %}
            </div>
        </div>

    </div>
</div>