<div class="ctp-intro">
    <div class="ctp-intro-left">
        <div class="ctp-card">
            <div class="ctp-card-top">
                <div class="ctp-card__title">Главный офис</div>
                <div class="ctp-card__descr">
                    429430, Россия, Чувашская Республика,
                                                                г. Козловка, ул. К.Маркса, д.1
                </div>
            </div>
            <div class="ctp-card-bottom">
                <div class="ctp-card-phone">
                    <a class="ctp-card-phone__link" href="tel:+78353421251">+7 (83534) 2-12-51</a>
                    <a class="ctp-card-phone__link" href="tel:+78353421295">+7 (83534) 2-12-95</a>
                    <a class="ctp-card-phone__link" href="tel:+78353422450">+7 (83534) 2-24-50</a>
                </div>
                <div class="ctp-card-mail">
                    <a class="ctp-card-mail__link" href="mailto:avtofurgon@mail.ru">avtofurgon@mail.ru</a>
                </div>
            </div>
        </div>
        <div class="ctp-card">
            <div class="ctp-card-top">
                <div class="ctp-card__title">Представительство в Москве</div>
                <div class="ctp-card__descr">
                    142784, Россия, Москва адрес представителей
                </div>
            </div>
            <div class="ctp-card-bottom">
                <div class="ctp-card-phone">
                    <a class="ctp-card-phone__link" href="tel:+74996388671">+7 (499) 638-86-71</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ctp-intro-right">
        <div class="mb-5 mb-md-9">
            <div class="color-gray">
                <b>Бесплатный звонок по России</b>
            </div>
            <a class="link-lg" href="tel:88002508303">8 800 250-83-03</a>
        </div>

        <div class="ctp-doc">
            <div class="ctp-doc__icon">
                {% include "tpl/inc/svg/i-doc.svg" %}
            </div>
            <div class="ctp-doc-info">
                <div class="ctp-doc__title">Реквизиты</div>
                <div class="ctp-doc-links">
                    <a class="ctp-doc-links__item" href="#">Открыть</a>
                    <a class="ctp-doc-links__item" href="#">Скачать</a>
                </div>
            </div>
        </div>
    </div>
</div>