<div class="ctp-map" id="ctp-map-cont">
    <a class="ctp-map__link js-map-link" href="#ctp-map-cont">
        <span class="ctp-map__link-open">
            {% include "tpl/inc/svg/i-marker.svg" %}
            Смотреть на карте
        </span>
        <span class="ctp-map__link-close">
            <span class="sp bg-white">{% include "tpl/inc/svg/i-exit.svg" %}</span>
            
            Закрыть карту
        </span>
    </a>

    <div class="ctp-map-container" id="ctp-map"></div>
</div>