<div class="intro-about">
  <div class="intro-about__title">Завод ООО «КТС»</div>
  <div class="intro-about-row">
    <div class="intro-about-left">
      <div class="intro-about__lead">
        Мы современное, динамично развивающееся предприятие, производим и поставляем более 60 видов спецтехники по всей России.
      </div>
      <div class="intro-about__descr">
        <p>Поставка осуществляется как по прямым, так и по тендерным процедурам для нужд предприятий военно-промышленного и нефтегазового комплексов, геофизических, геологоразведочных работ и буровзрывных работ, для строительства и ремонта магистральных нефте-, газо- продуктопроводов.</p>
      </div>
    </div>
    <div class="intro-about-right">
      <ul class="intro-about-list">
        <li>
          <div class="ia-card">
            <div class="ia-card-top">
              <div class="ia-card__num">
                ><span class="js-spincrement" data-from="1" data-to="14"></span>
              </div>
              <div class="ia-card__text">
                лет
              </div>
            </div>
            <div class="ia-card-body">
              <div class="ia-card__text color-blue">
                ОПЫТА И ОГРОМНАЯ КОНСТРУКТОРСКАЯ БАЗА
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="ia-card">
            <div class="ia-card-top">
              <div class="ia-card__num">
                ><span class="js-spincrement" data-from="1" data-to="60"></span>
              </div>
            </div>
            <div class="ia-card-body">
              <div class="ia-card__text color-blue">
                видов<br/>спецтехники
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="ia-card">
            <div class="ia-card-top">
              <div class="ia-card__num">
                ><span class="js-spincrement" data-from="1" data-to="300"></span>
              </div>
              <div class="ia-card__text">
                единиц<br/>техники
              </div>
            </div>
            <div class="ia-card-body">
              <div class="ia-card__text color-blue">
                выпускаем в год с&nbsp;предприятия
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="intro-about-bottom">
    <img alt="" class="intro-about__map" src="images/content/intro-about-map.png">
    <span class="ia__map-logo"><img src="images/content/logo.png" alt=""></span>
    <div class="intro-about__map-bg">
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
        <span class="ia__map-p"></span>
    </div>
  </div>
    {% include "tpl/inc/pages/main/list-text.twig" %}
  </div>